<div class="d-flex flex-column flex-md-row align-items-center justify-content-between
     pb-3 mb-4 border-bottom fixed-top">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">
      <span class="fs-4">Pricing example</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-uppercase" style="font-size: larger;">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Home</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Shop</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>      
    </nav>

    <div class="d-flex align-items-center">
        <a class="position-relative">           
            <fa-icon [icon]="faShoppingCart" size="lg" [styles]="{ 'color': 'red'}"></fa-icon>            
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary mr-2">Login</a>
        <a class="btn btn-outline-secondary mr-3">Sign up</a>
    </div>
  </div>
